@font-face {
  font-family: "Mazzard Soft H Med";
  src: url("../fonts/mazzard-soft/MazzardSoftH-Medium.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-Medium.otf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H Med";
  src: url("../fonts/mazzard-soft/MazzardSoftH-MediumItalic.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-MediumItalic.otf") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H";
  src: url("../fonts/mazzard-soft/MazzardSoftH-Regular.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H";
  src: url("../fonts/mazzard-soft/MazzardSoftH-BlackItalic.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-BlackItalic.otf") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H SemBd";
  src: url("../fonts/mazzard-soft/MazzardSoftH-SemiBold.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-SemiBold.otf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H";
  src: url("../fonts/mazzard-soft/MazzardSoftH-Black.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-Black.otf") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H";
  src: url("../fonts/mazzard-soft/MazzardSoftH-BoldItalic.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-BoldItalic.otf") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H ExtBd";
  src: url("../fonts/mazzard-soft/MazzardSoftH-ExtraBold.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-ExtraBold.otf") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H ExtBd";
  src: url("../fonts/mazzard-soft/MazzardSoftH-ExtraBoldItalic.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-ExtraBoldItalic.otf") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H SemBd";
  src: url("../fonts/mazzard-soft/MazzardSoftH-SemiBoldItalic.otf") format("woff2"),
    url("../fonts/mazzard-soft/MazzardSoftH-SemiBoldItalic.otf") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greatest Richmond";
  src: url("../font/greatest_richmond/GreatestRichmond.woff2") format("woff2"),
    url("../font/GreatestRichmond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greatest Richmond";
  src: url("../fonts/greatest_richmond/Greatest\ Richmond.ttf") format("woff2"),
    url("../fonts/greatest_richmond/GreatestRichmond.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greatest Richmond";
  src: url("../fonts/greatest_richmond/Greatest\ Richmond.ttf") format("woff2"),
    url("../fonts/greatest_richmond/GreatestRichmond.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
