/* Variables */

$font-1: "Mazzard Soft H";
$font-2: "Greatest Richmond";

$color-1: #fff;
$color-2: #555;
$color-3: #000;
$color-4: #aaa;
$color-5: #f4f4f4;
$color-7: #f6f3e3;
$color-8: #f3e4dc;
$color-9: #0a472e;
$color-10: #bac34e;
$color-11: #e0bf96;
$color-12: #f4ed23;
$color-13: #eb3069;
$color-14: #d5d5d5;
$color-15: #e2e2e2;
$color-16: #414141;
$color-17: #999;
$color-18: #878787;
$color-19: #4c68a2;
$color-20: #4285f4;
$color-21: #53d1f8;

$bg-color-1: #fff;
$bg-color-2: #555;
$bg-color-3: #000;
$bg-color-4: #aaa;
$bg-color-5: #f4f4f4;
$bg-color-7: #f6f3e3;
$bg-color-8: #f3e4dc;
$bg-color-9: #0a472e;
$bg-color-10: #bac34e;
$bg-color-11: #e0bf96;
$bg-color-12: #f4ed23;
$bg-color-13: #eb3069;
$bg-color-14: #d5d5d5;
$bg-color-15: #e8f8f7;
$bg-color-16: #ebebeb;

$bg-color-19: #4c68a2;
$bg-color-20: #4285f4;
$bg-color-21: #53d1f8;

$bd-radius: 30px;
$bd-radius: 50%;
