.grid__inner {
  max-width: 1450px;
  margin: 0 auto;
  padding-bottom: 80px;

  background: $bg-color-1;
}

.grid__list {
  @include list-style();
  margin-left: -20px;
  margin-right: -20px;
}

.grid__item {
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.grid__item:nth-child(2) .grid__item-box {
  width: 100%;
  height: 215px;
  margin-bottom: 30px;

  background-image: url("../../images/grid/grid2.jpg");

  & .grid__title-box {
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.grid__item:nth-child(6) .grid__item-box {
  width: 100%;
  height: 215px;
  background-image: url("../../images/grid/grid5.jpg");

  & .grid__title-box {
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.grid__item .grid__item-box-two:nth-child(2) {
  position: relative;
  width: 300px;
  height: 215px;
  margin-bottom: 30px;
  background-image: url("../../images/grid/grid3.jpg");
  @include bg-imgs();

  & .grid__title-box {
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.grid__item .grid__item-box-two:nth-child(2) {
  width: 48%;
  height: 215px;
  margin-bottom: 0;
  background-image: url("../../images/grid/grid3.jpg");
}

.grid__item .grid__item-box-two:nth-child(3) {
  position: relative;
  width: 48%;
  height: 215px;
  background-image: url("../../images/grid/grid4.jpg");
  @include bg-imgs();

  & .grid__title-box {
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.grid__item:nth-child(3) .grid__item-box {
  background-image: url("../../images/grid/grid5.jpg");
}

.grid__item .grid__item-box,
.grid__item-box-two {
  position: relative;
  width: 100%;
  height: 460px;

  background-image: url("../../images/grid/grid1.jpg");
  @include bg-imgs();

  &:hover .grid__title::after {
    width: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out 0s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out 0s;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
  }
  &:hover::after {
    width: 100%;
    height: 100%;
  }
}

.grid__title-box {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.grid__title {
  position: relative;

  font-family: $font-1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  display: inline-block;

  color: $color-1;
  padding-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 50px;
    height: 1px;

    background: $bg-color-1;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 1200px) {
  .grid__inner {
    padding-bottom: 60px;
  }

  .grid__item .grid__item-box,
  .grid__item-box-two {
    height: 322px;
  }

  .grid__item:nth-child(2) .grid__item-box {
    height: 154px;
    background-size: cover;
    margin-bottom: 15px;
  }

  .grid__item .grid__item-box-two:nth-child(2) {
    height: 153px;
    background-size: cover;
  }

  .grid__item .grid__item-box-two:nth-child(3) {
    height: 153px;
    background-size: cover;
  }
}

@media screen and (max-width: 990px) {
  .grid__inner {
    padding-bottom: 50px;
  }

  .grid__item .grid__item-box,
  .grid__item-box-two {
    height: 300px;
  }

  .grid__item:nth-child(2) .grid__item-box {
    height: 145px;
    margin-bottom: 10px;
    background-size: cover;
  }

  .grid__item .grid__item-box-two:nth-child(2) {
    height: 145px;
    background-size: cover;
  }

  .grid__item .grid__item-box-two:nth-child(3) {
    height: 145px;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .grid__inner {
    padding-bottom: 40px;
  }

  .grid__item .grid__item-box,
  .grid__item-box-two {
    width: 100%;
    height: 215px;
    margin-bottom: 15px;
    padding: 0 !important;
  }

  .grid__item:nth-child(2) .grid__item-box {
    width: 100%;
    height: 215px;
    margin-bottom: 15px;
    padding: 0 !important;
    background-size: cover;
  }

  .grid__item .grid__item-box-two:nth-child(2) {
    @include grid-item();
  }

  .grid__item .grid__item-box-two:nth-child(3) {
    width: 100%;
    height: 215px;
    padding: 0 !important;
    background-size: cover;
  }
}
